.BannerArticle {
   width: 100%;
   background: linear-gradient(to right, #ffffff, #d6c5f5, #dfb0ce);
   margin-top: 100px;
   padding-top:40px;
   padding-bottom:40px;
   display: flex;
   justify-content:center;
   transition: opacity 0.5s ease;

}

.Article
{
    display: flex;
    justify-content: space-between;
    gap:20px;
}

.txt
{

    flex-wrap: wrap;
    display:flex;
    justify-content: space-between;
    gap:20px;
}

.contexte
{
    background: linear-gradient(to right, #ffffff, #f2ebfa);
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    align-items:center;
    width:45%;
    padding:10px;
    max-height:400px;
    overflow-y: auto;
}

.context h1
{
    text-align:center
}

.imgGit
{
    max-height:250px;
}

.imgOC
{
    object-fit: cover;
    max-width:40%;
}


@media (max-width: 1300px) {
    .Article
{
    flex-direction: column;
    align-items:center;
}
    .contexte
{
 display:flex;
 flex-direction: column;
 width:90%;

}

.imgOC
{
    width:90%;
     object-fit: cover;
    max-width:100%;
}

.txt
{
     justify-content:center;
}

}
