.banner {
  background: linear-gradient(to right, #e4714c, #8c4673); /* Dégradé de couleur de gauche à droite */
  height: 40px; /* Hauteur de 20px */
  width: 99%; /* Largeur de 90% */
  border-radius: 10px; /* Arrondir les angles avec un rayon de 10px */
  display: flex; /* Utilise Flexbox */
  justify-content: space-between; /* Espacement égal entre les éléments */
  align-items: center; /* Centrer verticalement les éléments */
  margin-top:5px;
  position:fixed;
  left: 0; /* Alignement à gauche */
  right: 0; /* Alignement à droite */
  margin-left: auto; /* Margin à gauche automatique */
  margin-right: auto; /* Margin à droite automatique */
  transition: opacity 0.5s ease;
}

.left,
.right {
  flex: 1; /* Les éléments prennent autant d'espace que possible */
  display: flex; /* Utilise Flexbox à l'intérieur de la bannière */
  align-items: center; /* Centrer verticalement les éléments */
  margin: 5px;
  height:40px;
  width:10%
}

.right
{
  justify-content: flex-end;
}

.right img {

   height:100%;/* Largeur automatique pour maintenir le rapport hauteur-largeur */
}

.left img
{
  height:80%;

}

.center {
  flex: 1; /* Les éléments prennent autant d'espace que possible */
  display: flex; /* Utilise Flexbox à l'intérieur de la bannière */
  justify-content: center; /* Centrer horizontalement le titre */
  align-items: center; /* Centrer verticalement le titre */
  overflow: hidden; /* Masquer le texte qui dépasse */
  white-space: nowrap; /* Empêcher le texte de passer à la ligne */
  text-overflow: ellipsis; /* Ajouter des points de suspension à la fin du texte */
  transition: opacity 0.5s ease;
  }

  .center h1{
    overflow: hidden; /* Masquer le texte qui dépasse */
  white-space: nowrap; /* Empêcher le texte de passer à la ligne */
  text-overflow: ellipsis; /* Ajouter des points de suspension à la fin du texte */
  }


/*Annimations*/
.banner {
  transition: width 0.5s ease; /* Animation de transition pour la largeur */
}

.banner.active {
   width: 100px; /* Lorsque la classe active est ajoutée, définis la largeur de la bannière à 25% */
   margin-left: 1%;
}



.center.active {
 opacity:0;
 display: none;
}



