.ContentBoxOc
{
    display:flex;
    flex-wrap:wrap;
    gap:10%;
    margin-top:10px;
    justify-content:center;

}

.linkWrapper {
  width: 33%;
  padding: 20px;
  background: linear-gradient(to right, #ffffff, #f2ebfa);
  border-radius: 20px;
  margin-top: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.linkWrapper img
{
    width: 80%;

}

.linkWrapper h1
{
    text-align:center;
}

@media (max-width: 1300px) {

    .ContentBoxOc
    {
     flex-direction: column;
      align-items:center;
    }

    .linkWrapper {
     width: 90%;
      }

}
