body {
  background: linear-gradient(to bottom right, #0d0529, #211014); /* Dégradé de couleur de haut en bas et de gauche à droite */
  margin: 0; /* Supprime les marges par défaut du corps */
  padding: 0; /* Supprime les rembourrages par défaut du corps */
   /* Hauteur de la page égale à 100% de la hauteur de la fenêtre */
   max-width:4000px;
   min-width:320px;
}
main {
    display: flex;
    flex-direction: column;
}

a
{
 text-decoration: none;
 color:black;
}
