/* Modal Styles */
.modalVisible {
  display: block; /* Par défaut, la modal est cachée */
  position: fixed; /* Position fixée pour empêcher le défilement de la page */
  z-index: 1; /* Positionnement au-dessus de tout autre contenu */
  left: 0;
  top: 0;
  width: 100%; /* Largeur de la modal */
  height: 100%; /* Hauteur de la modal */
  overflow: auto; /* Ajoute un défilement si la hauteur de la modal est trop grande */
  background-color: rgba(0, 0, 0, 0.4); /* Fond semi-transparent pour assombrir le reste de la page */
  transition: opacity 0.5s ease;

}

/* Contenu de la modal */
.modal-contentVisible {
  background-color: #fefefe; /* Couleur de fond de la modal */
  margin: 15% auto; /* Centre la modal verticalement et horizontalement */
  padding: 20px;
  border: 1px solid #888;
  width: 25%; /* Largeur du contenu de la modal */
  transition: opacity 0.5s ease;
  display:flex;
  flex-direction: column;
  text-align:center;
  gap:5px;


}

.modal {
  width: 0%;
  opacity:0;
  }
.modal-content{
  opacity:0%;
  width: 0%;
  }
@media (max-width: 1300px) {

  .modal-contentVisible {
  padding:30%;

  }

}
