.BoxOc
{
    display : flex;
    margin-top:40px;
    margin-left:20px;
    background: linear-gradient(to right, #ffffff, #d6c5f5, #dfb0ce);
    border-radius:20px;
    transition: width 0.5s ease;
    gap:20px;
}

.BoxOc img
{
    width:50%;
    border-radius:20px;
}

.ContPres
{
    transition: opacity 0.5s ease;
    width:90%;
}

.ContPres2:hover {
  text-decoration: underline;
  font-weight: bold;
}

@media (max-width: 1300px) {

    .BoxOc
    {
     flex-direction: column;
    align-items:center;
    width:90%;
    }

}
