/* Presentation.css */

.presentation-banner {
   width: 100%;
   background: linear-gradient(to right, #ffffff, #d6c5f5, #dfb0ce);
   margin-top: 100px;
   display: flex;
   justify-content:center;
   transition: opacity 0.5s ease;

}

.ContentBannerPres
{
  width: 90%;
  display: flex;
  justify-content:space-between;
  align-items:center;
  transition: margin 1.5s ease;
  gap:20px;
  margin-top:40px;
  margin-bottom:40px;
}

.presentation-banner img {
  border-radius: 10px;
  width:33%;
  max-width:425px;
}

@media (max-width: 1128px) {

  .presentation-banner {

    }

  .ContentBannerPres
    {
      flex-direction:column;
      width: 100%;
       gap:2px;
    }
  .presentation-banner img
  {
    width:90%;
  }

}
